{% extends '@TeiEdition/Default/base.html.twig' %}

{% import '@TeiEdition/Shared/map-leaflet.html.twig' as map %}

{% block head %}
    {{ map.head() }}
    {{ map.head_markercluster() }}

    {#<script src="{{ app.request.basepath }}/js/blazy.min.js"></script>#}
{% endblock %}

{#% block contenttop %}
    {% embed '@TeiEdition/Default/contenttop_skeleton.html.twig' %}
    {% block carousel %}
        <div class="row" style="margin-top: -24px; margin-bottom: 24px">
            <div id="carouselExampleSlidesOnly" class="carousel slide w-100" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" style="max-height: 120px; overflow-y: hidden">
                        <img class="d-block w-100" src="{{ app.request.basepath }}/img/carousel/home.jpg" alt="">
                    </div>
                </div><!-- .carousel-inner -->
            </div><!-- .carousel -->
        </div>
    {% endblock %}
    {% endembed %}
{% endblock %#}

{% block contentcontainer %}
<div class="container-fluid wrapper flex-grow-1 overflow-auto">
    {% block body %}
    <div class="row" id="about">
        <div class="col-md-6" id="mood">
        </div>

        <div class="col-md-6">
            <div class="p-5">
                <h2>{{ siteName|trans({}, 'additional') }}</h2>
                {% if 'de' == app.request.locale %}
                <p>
                    Was passiert, wenn Menschen ihr Zuhause verlassen (müssen) – aber ihre Sprachen, Kulturen und Erinnerungen mitnehmen?
                </p>
                <p>
                    Geschichte[n] der deutsch-jüdischen Diaspora ist ein Portal, das die Wege und Erfahrungen von Jüdinnen und Juden sichtbar macht, die seit dem 19. Jahrhundert – insbesondere ab 1933 – aus dem deutschsprachigen Raum emigrierten oder fliehen mussten.
                </p>
                <p>
                    Statt klassischer Erzählungen von Exil und ersehnter Rückkehr stellt das Portal die Dynamik diasporischer Prozesse über mehrere Generationen in den Mittelpunkt. Es fragt nach Zugehörigkeit(en) – im Alltag, im kulturellen Austausch und im sozialen Miteinander – und eröffnet so neue Perspektiven auf die Lebenswelten von Menschen zwischen Herkunft und Neuanfang.
                </p>
                <p>
                <a href="{{ path('about') }}" class="btn btn-primary btn-md" role="button" aria-pressed="true">
                    Mehr zum Diaspora-Projekt
                </a>
                {% else %}
                <p>
                    What happens when people (are forced to) leave their homes – but take their languages, cultures, and memories along?
                </p>
                <p>
                    [Hi]stories of the German-Jewish Diaspora is an online portal that shines a spotlight on the trajectories and experiences of Jews who emigrated or fled from German-speaking Europe – particularly in the years after 1933, when the Nazi Party took power in Germany.
                </p>
                <p>
                    Instead of reproducing the conventional narratives of exile and yearning for return, this digital resource centers the fluid dynamics of diasporic processes across several generations. It poses questions about identities and affinities – in day-to-day life, in cultural dialogue, and in multiethnic society – carving out space for new perspectives on the lived experiences of people navigating the space between origins and new beginnings.
                </p>
                <a href="{{ path('about') }}" class="btn btn-primary btn-md" role="button" aria-pressed="true">
                    More on the Diaspora project
                </a>
            {% endif %}
            </div>
        </div>
    </div>
    {% embed "Default/home_articles_carousel.html.twig" %}
    {% endembed %}
    <div class="row" id="diaspora-map">
        <div class="col-md-6">
            <div class="p-5">
                <h2>{{ 'Map'|trans }}</h2>
                {% if 'de' == app.request.locale %}
                <p>
                    Auf unserer interaktiven Karte lassen sich Geschichte[n] entdecken. Sie veranschaulicht, wo sich Jüdinnen und Juden nach ihrer Emigration oder Flucht aus dem deutschsprachigen Raum niederließen. Rund um den Globus – von A wie Argentinien bis Z wie Zypern – fanden sie in rund 100 Ländern neue Lebensorte und Perspektiven.
                </p>
                {% else %}
                <p>
                    Our interactive map invites visitors to discover [hi]stories for themselves. The map visually situates where Jews settled after emigrating or escaping from the German-speaking regions of Europe. These emigrés found new places to live, and therefore new vantage points, in around a hundred countries throughout the globe, spanning an ABC of destinations, starting with Australia, Brazil, and Cyprus.
                </p>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6 p-0">
            <div id="map-container" style="height: 100%;">
                <div id="map" style="width: 100%; min-height: 320px; height: 100%"></div>
                <script>
                $( document).ready(function () {
                    showMap();
                });

                {{ map.showMap(bounds, markers) }}
                </script>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="bring-your-own-story-mood" class="col-md-12"></div>
        <div class="col-md-12">
            <div class="p-5 text-center">
            {% if 'de' == app.request.locale %}
                <h2>Erzählen Sie Ihre Diaspora-Geschichte</h2>
                <p>
                Machen Sie mit! Werden Sie mit Ihren Erinnerungen oder Ihrer Forschung Teil des Diaspora-Projekts.
                </p>
                <a href="{{ path('bring-your-own-story') }}" class="btn btn-primary btn-md" role="button" aria-pressed="true">
                    Mitmachen und mehr erfahren
                </a>
            {% else %}
                <h2>Tell your Diaspora Story</h2>
                <p>
                    Get involved! Become part of the Diaspora project by sharing your memories or your research.
                </p>
                <a href="{{ path('bring-your-own-story') }}" class="btn btn-primary btn-md" role="button" aria-pressed="true">
                    Take part and find out more
                </a>
            {% endif %}
            </div>
        </div>
    </div>
    {% endblock body %}
</div>
{% endblock contentcontainer %}
