        <footer>
            {% if twitterSite is defined and twitterSite is not empty %}
            <div id="footer-social" class="container-fluid">
                <div class="row">
                    <div class="col-xs-12" style="z-index: 1; text-align: center">
                    <a class="twitter" target="_blank" href="https://twitter.com/{{ twitterSite }}" title="@{{ twitterSite }}" rel="noopener"> </a>
                    </div>
                </div>
            </div>
            {% endif %}
            <div id="footer-navigation" class="container">
                <div class="row">
                    <div class="col-12 col-sm-8">
                        <p>
                            <a href="https://www.mmz-potsdam.de/{% if 'de' != app.request.locale %}en/{% endif %}" target="_blank">
                                <img src="{{ app.request.basepath }}/img/mmz-inverse.{{ app.request.locale }}.svg" class="img-fluid mb-4 pr-4" style="max-height: 80px" alt="{{ 'Moses Mendelssohn Center'|trans }}" /></a>
                            <a href="http://wag-leobaeck.de/" target="_blank">
                                <img src="{{ app.request.basepath }}/img/wag-inverse.svg" class="img-fluid pb-3" style="max-height: 80px;" alt="{{ 'WAG des Leo Baeck Instituts'|trans }}" />
                            </a>
                        </p>
                        <p>
                            <small>
                        {% if 'de' == app.request.locale %}
                            Ein Projekt des <a href="https://www.mmz-potsdam.de/" target="_blank">Moses Mendelssohn Zentrums</a> und der <a href="http://wag-leobaeck.de/" target="_blank">WAG des Leo Baeck Instituts</a>.
                        {% else %}
                            A project of the <a href="https://www.mmz-potsdam.de/en/" target="_blank">Moses Mendelssohn Center</a> and the <a href="http://wag-leobaeck.de/" target="_blank">WAG of the Leo Baeck Institute</a>.
                        {% endif %}
                            </small>
                        </p>
                        <p>
                            <small>
                        {% if 'de' == app.request.locale %}
                            Gefördert von der
                        {% else %}
                            Funded by the
                        {% endif %}
                            <a href="https://www.volkswagenstiftung.de/{% if 'de' == app.request.locale %}de{% else %}en{% endif %}/" target="_blank" style="display: block; margin-top: -10px;">
                                <img src="{{ app.request.basepath }}/img/vwst-inverse.png" style="vertical-align: top; max-height: 80px" alt="VolkswagenStiftung" />
                            </a>
                            </small>
                        </p>
                    </div>

                    <div class="col-12 col-sm-3 offset-sm-1" style="z-index: 1">
                        {% set menu = knp_menu_get('top', [], {'position': 'footer', 'part': 'left'}) %}
                        {{ knp_menu_render(menu) }}
                    </div>
                    {% block footer_navigation_right %}
                    {#
                    <div class="col-6 col-sm-2 offset-md-4" style="z-index: 1">
                        {% set menu = knp_menu_get('top', [], {'position': 'footer', 'part': 'right'}) %}
                        {{ knp_menu_render(menu) }}
                    </div>
                    #}
                    {% endblock %}
                </div>
            </div>
        </footer>
