{% extends '@TeiEdition/Default/base.html.twig' %}

{% block contentcontainer %}
<div class="container-fluid wrapper flex-grow-1 overflow-auto">
    {% block body %}
    <div class="row">
        <div class="col-12 pt-2 pb-2 p-sm-5">
            <h1><i>{{ 'Bring Your Own Story'|trans }}</i></h1>
            {% if 'de' == app.request.locale %}
            <h2>Ein Einzigartiges Erinnerungsstück: Sonja Mühlbergers Hochzeitskleid</h2>
            <p>
                In diesem persönlichen Interview erzählt Sonja Mühlberger, geboren 1939 in Shanghai als Sonja Krips, die Geschichte ihres Hochzeitskleides. Das Kleid aus chinesischem Brokat setzt sich aus mehreren Erinnerungsschichten zusammen, die auf die besondere Bedeutung ihres Geburtsorts verweisen. Die chinesische Hafenstadt <a href="{{ path('article', { 'slug': 'gjd:article-26'}) }}">Shanghai</a>  zählte zu den letzten Orten, in denen jüdische Flüchtlinge bis 1941 Zuflucht finden konnten – darunter die Eltern von Sonja Mühlberger.
            </p>
            {% else %}
            <h2>A One-of-a-Kind Memento: Sonja Mühlberger’s Wedding Dress</h2>
            <p>
                In a personal interview, Sonja Mühlberger (née Krips) tells the story of her wedding gown. Mühlberger was born in Shanghai in 1939, and the Chinese brocade of her dress speaks to multiple layers of memory, pointing to the special significance of her birthplace. Until 1941, later than almost anywhere else, the Chinese port city of <a href="{{ path('article', { 'slug': 'gjd:article-26'}) }}">Shanghai</a> remained open to Jewish refugees, including Mühlberger’s parents.
            </p>
            {% endif %}
            <div class="embed-responsive embed-responsive-16by9 mb-4">
                <video class="embed-responsive-item"  preload="none" controls poster="{{ app.request.basepath }}/viewer/bring-your-own-story/muehlberger-hochzeitskleid-poster.jpg">
                    <source src="{{ app.request.basepath }}/viewer/bring-your-own-story/muehlberger-hochzeitskleid.mp4" type="video/mp4">
                </video>
            </div>
            {% if 'de' == app.request.locale %}
            <p>
                Autorin: Lisa Sophie Gebhard<br/>
                Schnitt: Johannes Dittmar<br/>
                Kamera: Frank Vieltorf<br/>
                Musik: <i>Yaribon</i> – arrangiert von R. Raine-Reusch, M. Denburg und dem <i>Orchid Ensemble</i>, <a href="https://www.orchidensemble.com/">www.orchidensemble.com</a>
            </p>

            <h2>Ihre Erinnerung</h2>
            <p>
                Möchten auch Sie eine Geschichte zu einem besonderen Objekt teilen, das mit Ihrem Leben oder dem Leben Ihrer Familie in der Diaspora verbunden ist? Dann erzählen Sie uns davon! Wir freuen uns sehr über Ihre Nachricht an <a href="mailto:{{ siteEmail }}?subject=Bring%20Your%20Own%20Story">{{ siteEmail }}</a>.
            </p>

            <h2>Ihre Forschung</h2>
            <p>
                Für das Projekt sind wir weiterhin auf der Suche nach Textbeiträgen zu<br/>
                a) <b>Quellen</b> oder b) <b>historischen Akteurinnen und Akteuren</b>.
            </p>
            <p>
                Weiterführende Informationen zu diesen beiden Beitragsformaten finden Sie im <a href="https://www.mmz-potsdam.de/aktuelles/meldungen/2023/call-for-proposals-online-quellenportal-geschichte-der-deutsch-juedischen-diaspora" target="_blank">initialen Call for Proposals</a>.
            </p>
            {% else %}
            <p>
                Author: Lisa Sophie Gebhard<br/>
                Editing: Johannes Dittmar<br/>
                Camera: Frank Vieltorf<br/>
                Music: <i>Yaribon</i> – arranged by R. Raine-Reusch, M. Denburg, &amp; <i>Orchid Ensemble</i>, <a href="https://www.orchidensemble.com/">www.orchidensemble.com</a>
            </p>

            <h2>Your Memory</h2>
            <p>
                Do you also want to share a story about a special object connected to your or your family’s life in the Diaspora? Then tell us about it! We look forward to hearing from you at <a href="mailto:{{ siteEmail }}?subject=Bring%20Your%20Own%20Story">{{ siteEmail }}</a>.
            </p>

            <h2>Your Research</h2>
            <p>
                For the project, we are still looking for text contributions on<br/>
                a) <b>sources</b>, or b) <b>historical figures</b>.
            </p>
            <p>
                Further information on these two contribution formats can be found in the
                <a href="https://www.mmz-potsdam.de/en/news/announcements/2023/call-for-proposals-online-source-portal-history-of-the-german-jewish-diaspora" target="_blank">initial Call for Proposals</a>.
            </p>
            {% endif %}
        </div>
    </div>
    {% endblock body %}
</div>
{% endblock contentcontainer %}
