{% extends '@TeiEdition/Default/base.html.twig' %}

{% import '@TeiEdition/Shared/map-leaflet.html.twig' as map %}

{% block head %}
    {{ map.head() }}
    {{ map.head_markercluster() }}

    <script src="{{ app.request.basepath }}/js/blazy.min.js"></script>
{% endblock %}

{% block contenttop %}
    {% embed '@TeiEdition/Default/contenttop_skeleton.html.twig' %}
    {% block carousel %}
        <div class="row" style="margin-top: -24px; margin-bottom: 24px">
            <div id="carouselExampleSlidesOnly" class="carousel slide w-100" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" style="max-height: 120px; overflow-y: hidden">
                        <img class="d-block w-100" src="{{ app.request.basepath }}/img/carousel/home.jpg" alt="">
                    </div>
                </div><!-- .carousel-inner -->
            </div><!-- .carousel -->
        </div>
    {% endblock %}
    {% endembed %}
{% endblock %}

{% block contentcontainer %}
<div class="container-fluid wrapper flex-grow-1 overflow-auto">
    {% block body %}
    <div class="row" id="about">
        <div class="col-md-6" id="mood">
        </div>

        <div class="col-md-6">
            <div class="p-5">
                <h2>{{ siteName|trans({}, 'additional') }}</h2>
                {% if 'de' == app.request.locale %}
                <p>
                    Was passiert, wenn Menschen ihr Zuhause verlassen (müssen) – aber ihre Sprachen, Kulturen und Erinnerungen mitnehmen?
                </p>
                <p>
                    Geschichte[n] der deutsch-jüdischen Diaspora ist ein Portal, das die Wege und Erfahrungen von Jüdinnen und Juden sichtbar macht, die seit dem 19. Jahrhundert – insbesondere ab 1933 – aus dem deutschsprachigen Raum emigrierten oder fliehen mussten.
                </p>
                <p>
                    Statt klassischer Erzählungen von Exil und ersehnter Rückkehr rückt das Portal die Dynamik diasporischer Prozesse über mehrere Generationen in den Mittelpunkt. Es fragt nach Zugehörigkeit(en) – im Alltag, im kulturellen Austausch und im sozialen Miteinander – und eröffnet so neue Perspektiven auf die Lebenswelten von Menschen zwischen Herkunft und Neuanfang.
                </p>
                <p>
                <a href="{{ path('about') }}" class="btn btn-primary btn-md" role="button" aria-pressed="true">
                    Mehr zum Diaspora-Projekt
                </a>
                {% else %}
                <p>
                    What happens when people leave (or are forced to leave) their homes – but take their languages, cultures and memories with them?
                </p>
                <p>
                    [Hi]stories of the German-Jewish Diaspora  is a portal that reveals the paths and experiences of Jews who have emigrated or had to flee from German-speaking countries since the 19th century - especially from 1933 onwards.
                </p>
                <p>
                    Instead of classic narratives of exile and longed-for return, the portal focuses on the dynamics of diasporic processes over several generations. It asks about belonging(s) - in everyday life, in cultural exchange and in social interaction - and thus opens up new perspectives on the lives of people between origin and new beginnings.
                </p>
                <a href="{{ path('about') }}" class="btn btn-primary btn-md" role="button" aria-pressed="true">
                    More on the Diaspora project
                </a>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="row" id="diaspora-map">
        <div class="col-md-6">
            <div class="p-5">
                <h2>{{ 'Map'|trans }}</h2>
                {% if 'de' == app.request.locale %}
                <p>
                    Studieren Sie die Geschichte[n] auf unserer interaktiven Karte.
                    Sie zeigt u. a. die Lebensorte von Jüdinnen und Juden, die aus dem deutschsprachigen Raum emigrierten oder fliehen mussten. Rund um den Globus, von A wie Argentinien bis Z wie Zypern bauten sie sich in rund 100 Ländern ein neues Leben auf.
                </p>
                {% else %}
                <p>
                    Study the [hi]stories on our interactive map.
                    It shows, among other things, the places where Jews who emigrated or had to flee from German-speaking countries lived. Around the globe, from A for Argentina to Z for <i>Zypern</i>, they built a new life for themselves in around 100 countries.
                </p>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6 p-0">
            <div id="map-container">
                <div id="map" style="width: 100%; min-height: 320px"></div>
                <script>
                $( document).ready(function () {
                    showMap();
                });

                {{ map.showMap(bounds, markers) }}
                </script>
            </div>
        </div>
    </div>
    {% endblock body %}
</div>
{% endblock contentcontainer %}
